<!-- footer -->
<!-- ENd footer -->

<div id="footer-bottom">
    <!--<div class="logo text-center">-->
        <!--<img src="。/public/images/footerlogo.png" alt="footer logo">-->
    <!--</div>-->
    
    <div class="btm-footer-text text-center">
        <p>2016 ©  STVONLINE.NET </p>
    </div>
</div>