
<div class="large-8 columns profile-inner">
    <!-- profile settings -->

    <section>
        <div class="row secBg">
            <div class="large-12 columns">
                <div class="heading">
                    <i class="fa fa-pencil-square-o"></i>
                    <h4>Category</h4>
                </div>
                <div class="row">
                   
                    <table>
                        <thead>
                        <tr>
                            <td>_id</td>
                            <td>Title</td>
                             <td>Type</td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cat in categories">
                                <td>{{cat._id}}</td>
                                <td>{{cat.title}}</td>
                                <td>{{cat.category_type}}</td>
                            </tr>
                        </tbody>
                    </table>
                    

                </div>
                <div class="row">
                    <div class="large-12 columns">

                        <form novalidate  name="userForm" ng-submit="addCategory(category)" enctype="multipart/form-data">
                            <div data-abide-error class="alert callout" style="display: none;" ng-show="userForm.$invalid">
                                <p><i class="fa fa-exclamation-triangle"></i>
                                    There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="large-12 columns form-group" ng-class="{ 'has-error' : userForm.title.$invalid && !userForm.title.$pristine }">
                                    <label>Title
                                        <input type="text" placeholder="enter you video title..."  name="title"
                                               ng-model="category.title" required/>
                                                        <span class="form-error help-block" ng-show="userForm.title.$invalid && !userForm.title.$pristine">
                                                            Yo, you had better fill this out, it's required.
                                                        </span>
                                    </label>
                                </div>
                                <div class="large-12 columns" ng-class="{ 'has-error' : userForm.description.$invalid && !userForm.description.$pristine }">
                                    <label>Description
                                        <textarea ng-model="category.description"  placeholder="Put a chief description"  name="description" required></textarea>
                                        <span ng-show="userForm.description.$invalid && !userForm.description.$pristine" class="help-block">Descriptionis required.</span>
                                    </label>
                                </div>
                                <div class="large-12 columns">
                                    <div class="radio">
                                        <!--<label data-ng-repeat="choice in post.type.choices">-->
                                        <!--<input type="radio" name="response" value="true" ng-click="setChoiceForQuestion(question1, choice)"/>-->
                                        <!--{{choice.text}}-->
                                        <!--</label>-->
                                        <input type="radio" name="post_type" value="parent" id="videolink1" ng-model="category.category_type">
                                        <label class="customLabel" for="videolink1">Parent</label>
                                        <input type="radio" name="post_type" value="child" id="videolink2" ng-model="category.category_type">
                                        <label class="customLabel" for="videolink2">Child </label>

                                    </div>
                                </div>
                                <div class="upload-video" ng-class="{ 'has-error' : userForm.preview_image.$invalid && !userForm.preview_image.$pristine }">
                                
                                   <label>Upload Preview Image</label>
                                        <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles,'category_preview')" accept="image/*" ngf-max-height="10000" ngf-max-size="10MB">
                                            Select File</button>
                                        <br><br>
                                    <input type="file" id="imgPreviewUpload" name="preview_image" ng-model="category.preview_image" >
                                        <input type="hidden" name="previewImage" ng-model="category.previewImage" value="/{{f.destination}}{{f.filename}}" /> File:
                                        <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                            <span class="progress" ng-show="f.progress >= 0">
                                                <div style="width:{{f.progress}}%"  
                                                    ng-bind="f.progress + '%'"></div>
                                            </span>
                                        </div>
                                        {{errorMsg}}
                                </div>

                                <div class="large-12 columns" style="margin-bottom: 30px">
                                    <button class="button" type="submit" name="submit" ng-disabled="userForm.$invalid" >Add now</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- End profile settings -->
</div>
