<div class="large-8 columns profile-inner">
    <!-- profile settings -->

    <section>
        <div class="row secBg">
            <div class="large-12 columns">
                <div class="heading">
                    <i class="fa fa-pencil-square-o"></i>
                    <h4>Add new video Post</h4>
                </div>
                <div class="row">
                    <div class="large-12 columns">

                        <form novalidate name="userForm" ng-submit="addPost(post)" enctype="multipart/form-data">
                            <div data-abide-error class="alert callout" style="display: none;" ng-show="userForm.$invalid">
                                <p><i class="fa fa-exclamation-triangle"></i> There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="large-12 columns form-group" ng-class="{ 'has-error' : userForm.title.$invalid && !userForm.title.$pristine }">
                                    <label>Title
                                        <input type="text" placeholder="enter you video title..."  name="title"
                                               ng-model="post.title" required/>
                                                        <span class="form-error help-block" ng-show="userForm.title.$invalid && !userForm.title.$pristine">
                                                            Yo, you had better fill this out, it's required.
                                                        </span>
                                    </label>
                                </div>
                                <div class="large-12 columns" ng-class="{ 'has-error' : userForm.description.$invalid && !userForm.description.$pristine }">
                                    <label>Description
                                        <textarea ng-model="post.description"  placeholder="Put a chief description"  name="description" required></textarea>
                                        <span ng-show="userForm.description.$invalid && !userForm.description.$pristine" class="help-block">Descriptionis required.</span>
                                    </label>
                                </div>
                                <div class="large-12 columns">
                                    <label class="borderBottom">Choose Video Method:</label>
                                </div>
                                <div class="large-12 columns">
                                    <div class="radio">
                                        <!--<label data-ng-repeat="choice in post.type.choices">-->
                                        <!--<input type="radio" name="response" value="true" ng-click="setChoiceForQuestion(question1, choice)"/>-->
                                        <!--{{choice.text}}-->
                                        <!--</label>-->
                                        <input type="radio" name="post_type" value="Video" id="videolink1" ng-model="post.post_type">
                                        <label class="customLabel" for="videolink1">Video Link From Youtube</label>
                                        <input type="radio" name="post_type" value="Mp3" id="videolink2" ng-model="post.post_type">
                                        <label class="customLabel" for="videolink2">Mp3 </label>

                                    </div>
                                </div>
                                <div class="large-12 columns">
                                    <label class="borderBottom">Choose to Show in Feature Slider:</label>
                                </div>
                                <div class="large-12 columns">
                                    <div class="radio">
                                        <!--<label data-ng-repeat="choice in post.type.choices">-->
                                        <!--<input type="radio" name="response" value="true" ng-click="setChoiceForQuestion(question1, choice)"/>-->
                                        <!--{{choice.text}}-->
                                        <!--</label>-->
                                        {{post.is_featureSlider}}
                                        <input type="radio" name="is_featureSlider" value="true" id="feature1" ng-model="post.is_featureSlider">
                                        <label class="customLabel" for="feature1">Add to feature</label>
                                        <input type="radio" name="is_featureSlider" value="false" id="feature2" ng-model="post.is_featureSlider">
                                        <label class="customLabel" for="feature2">No </label>

                                    </div>
                                </div>
                                <div class="large-12 columns" ng-class="{ 'has-error' : userForm.video_url.$invalid && !userForm.videourl.$pristine }">
                                    <label>Link Video/Mp3:
                                        <input type="url" placeholder="for example:http://yoursite.com/sample-video.mp4" name="video_url"
                                               ng-model="post.video_url" required>
                                        <span ng-show="userForm.video_url.$invalid && !userForm.video_url.$pristine" class="help-block">Not valid Url</span>
                                    </label>
                                </div>
                                <div class="large-12 columns">
                                    <div class="post-meta">
                                        <label>Meta Title:
                                            <textarea placeholder="enter meta title" name="meta_title"
                                                      ng-model="post.meta_title" required></textarea>

                                        </label>
                                    </div>
                                    <div class="post-meta">
                                        <label>Meta Description:
                                            <textarea placeholder="enter meta Description" name="meta_description"
                                                      ng-model="post.meta_description" required></textarea>

                                        </label>
                                    </div>
                                    <div class="post-meta">
                                        <label>Meta keywords:
                                            <textarea placeholder="enter meta keywords" name="meta_keyword"
                                                      ng-model="post.meta_keywords" required></textarea>

                                        </label>
                                    </div>
                                    <div class="post-category">
                                        <label>Choose Video Category:
                                            <select ng-model="post.category"  name="category">
                                                <option ng-repeat="cat in categories | filter:{ category_type :'child'}" value="{{cat._id}}">{{cat.title}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="post-category">
                                        <label>Choose Video Menu :
                                            <select ng-model="post.menu"  name="category">
                                                <option ng-repeat="cat in categories | filter:{ category_type :'parent'}" value="{{cat._id}}">{{cat.title}}</option>
                                            </select>
                                        </label>
                                    </div>

                                    <div class="upload-video">
                                        <label>Upload Preview Image</label>
                                        <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles,'post_preview')" accept="image/*" ngf-max-height="10000" ngf-max-size="10MB">
                                            Select File</button>
                                        <br><br>
                                        <input type="hidden" name="previewImage" ng-model="post.previewImage" value="/{{f.destination}}{{f.filename}}" /> File:
                                        <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                            <span class="progress" ng-show="f.progress >= 0">
                                                <div style="width:{{f.progress}}%"  
                                                    ng-bind="f.progress + '%'"></div>
                                            </span>
                                        </div>
                                        {{errorMsg}}

                                        <br/>
                                        <div class="upload-video">
                                            <label>Upload Thumbnail Image</label>
                                            <input type="file" id="imgThumbnailUpload" name="thumbnail_image" ng-model="post.thumbnail_image">
                                        </div>
                                        <label>Upload Thumbnail Image</label>
                                        <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles,'post_thumbnail')" accept="image/*" ngf-max-height="10000" ngf-max-size="10MB">
                                            Select File</button>
                                        <br><br>
                                        <input type="hidden" name="thumbnail_image" ng-model="post.thumbnail_image" value="/{{f.destination}}{{f.filename}}" /> File:
                                        <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                            <span class="progress" ng-show="f.progress >= 0">
                                                <div style="width:{{f.progress}}%"  
                                                    ng-bind="f.progress + '%'"></div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="large-12 columns ">
                                        <label>Views:
                                            <input type="number" name="views"
                                               data-role="tagsinput" ng-model="post.views" required>
                                        </label>
                                    </div>
                                    <div class="large-12 columns ">
                                        <label>Tags:
                                            <input type="text" name="tag"
                                               data-role="tagsinput" ng-model="post.tag.join(',')" required>
                                        </label>
                                    </div>
                                    <div class="large-12 columns" style="margin-bottom: 30px">
                                        <button class="button" type="submit" name="submit">publish now</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End profile settings -->
</div>