<% layout('../public/partialviews/layout/layoutWeb') %>


            <!-- End Header -->
<% include ./index/featureSlider.ejs %>

<% include ./index/categorySlider.ejs %>
<section class="mainContentv3">
    <div class="row">
        <!-- Left content--> 
        <% include ./index/leftContent.ejs %>
        
        <!-- right content-->
        <% include ./index/rightContent.ejs %>
        
    </div>
</section>
