<section id="verticalSlider">
  <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:0px auto 56px;">
    <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
      <ul class="amazingslider-slides" style="display:none;">

        <li>
          <img src="amazingslider/images/g9xl3esGWRw.jpg" alt="Thay đổi cuộc đời" title="Thay đổi cuộc đời" />
          <video preload="none" src="https://www.youtube.com/embed/g9xl3esGWRw?v=g9xl3esGWRw"></video>
        </li>
        <li>
          <img src="/amazingslider/images/EC0zHwqVuYY.jpg" alt="Vì sao người lương thiện cả đời gặp nỗi buồn và trắc trở" title="Vì sao người lương thiện cả đời gặp nỗi buồn và trắc trở" />
          <video preload="none" src="https://www.youtube.com/embed/EC0zHwqVuYY?v=EC0zHwqVuYY"></video>
        </li>
        <li>
          <img src="/amazingslider/images/cffc7VrVCn4.jpg" alt="Xem bói" title="Xem bói" />
          <video preload="none" src="https://www.youtube.com/embed/cffc7VrVCn4?v=cffc7VrVCn4"></video>
        </li>
      </ul>
      <ul class="amazingslider-thumbnails" style="display:none;">
        <li><img src="/amazingslider/images/g9xl3esGWRw-tn.jpg" alt="Thay đổi cuộc đời" title="Thay đổi cuộc đời" /></li>
        <li><img src="/amazingslider/images/EC0zHwqVuYY-tn.jpg" alt="Vì sao người lương thiện cả đời gặp nỗi buồn và trắc trở" title="Vì sao người lương thiện cả đời gặp nỗi buồn và trắc trở" /></li>
        <li><img src="/amazingslider/images/cffc7VrVCn4-tn.jpg" alt="Xem bói" title="Xem bói" /></li>
      </ul>
      <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive JavaScript Slider">Responsive JavaScript Slider</a></div>
    </div>
  </div>
  <!-- End of body section HTML codes -->
</section>