<% layout('../public/partialviews/layout/layoutWeb') %>


    <section id="premium">
        <div class="row">
            <div class="heading clearfix">
                <div class="large-11 columns">
                    <h4><i class="fa fa-play-circle-o"></i>Premium Videos</h4>
                </div>
                <div class="large-1 columns">
                    <div class="navText show-for-large">
                        <a class="prev secondary-button"><i class="fa fa-angle-left"></i></a>
                        <a class="next secondary-button"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="owl-demo" class="owl-carousel carousel" data-car-length="4" data-items="4" data-loop="true" data-nav="false" data-autoplay="true" data-autoplay-timeout="3000" data-dots="false" data-auto-width="false" data-responsive-small="1" data-responsive-medium="2"
            data-responsive-xlarge="5">
            <div class="item">
                <figure class="premium-img">
                    <img src="http://placehold.it/400x300" alt="carousel">
                    <figcaption>
                        <h5>ICE Age 5 upcoming Movie</h5>
                        <p>Movies Trailer</p>
                    </figcaption>
                </figure>
                <a href="single-video-v1.html" class="hover-posts">
                    <span><i class="fa fa-play"></i>Watch Video</span>
                </a>
            </div>
            <div class="item">
                <figure class="premium-img">
                    <img src="http://placehold.it/400x300" alt="carousel">
                    <figcaption>
                        <h5>ICE Age 5 upcoming Movie</h5>
                        <p>Movies Trailer</p>
                    </figcaption>
                </figure>
                <a href="single-video-v1.html" class="hover-posts">
                    <span><i class="fa fa-play"></i>Watch Video</span>
                </a>
            </div>
            <div class="item">
                <figure class="premium-img">
                    <img src="http://placehold.it/400x300" alt="carousel">
                    <figcaption>
                        <h5>ICE Age 5 upcoming Movie</h5>
                        <p>Movies Trailer</p>
                    </figcaption>
                </figure>
                <a href="single-video-v1.html" class="hover-posts">
                    <span><i class="fa fa-play"></i>Watch Video</span>
                </a>
            </div>
            <div class="item">
                <figure class="premium-img">
                    <img src="http://placehold.it/400x300" alt="carousel">
                    <figcaption>
                        <h5>ICE Age 5 upcoming Movie</h5>
                        <p>Movies Trailer</p>
                    </figcaption>
                </figure>
                <a href="single-video-v1.html" class="hover-posts">
                    <span><i class="fa fa-play"></i>Watch Video</span>
                </a>
            </div>
            <div class="item">
                <figure class="premium-img">
                    <img src="http://placehold.it/400x300" alt="carousel">
                    <figcaption>
                        <h5>ICE Age 5 upcoming Movie</h5>
                        <p>Movies Trailer</p>
                    </figcaption>
                </figure>
                <a href="single-video-v1.html" class="hover-posts">
                    <span><i class="fa fa-play"></i>Watch Video</span>
                </a>
            </div>
            <div class="item">
                <figure class="premium-img">
                    <img src="http://placehold.it/400x300" alt="carousel">
                    <figcaption>
                        <h5>ICE Age 5 upcoming Movie</h5>
                        <p>Movies Trailer</p>
                    </figcaption>
                </figure>
                <a href="single-video-v1.html" class="hover-posts">
                    <span><i class="fa fa-play"></i>Watch Video</span>
                </a>
            </div>
        </div>
    </section>
    <!-- End Premium Videos -->
     <section class="category-content">
                <div class="row">
                    <!-- left side content area -->
                    <div class="large-8 columns">

                    </div>
                      <!-- sidebar -->
                    <div class="large-4 columns">
                    <% include /index/rightContent.ejs %>
                    
                    </div>
                </div>
    </section>
   
    <script type='text/javascript'>
        jQuery(function() {
            jQuery('.amazingslider-text-box-1').next().remove();
        });
    </script>