<% if(head){%>
    <title>STVonline |  <%= head.title %></title>
    <meta name="keywords" content="<%= head.meta_keywords %>"/>
    <meta name="description" content="<%= head.meta_description %>"/>
<%}else{%>

    <title>STVonline</title>
    <meta name="keywords" content="stvonline, đi tìm giá trị vĩnh hằng, ý nghĩa cuộc sống, bình yên"/>
    <meta name="description" content="STVonline - Đi Tìm Giá Trị Vĩnh Hằng. Qua những bài thu âm dựng thành clip, hy vọng rằng sẽ mang đến cho bạn những giây phút thư giản, bình yên."/>
<%}%>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/public/metronic/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/public/metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/public/css/app.css">
<link rel="stylesheet" href="/public/css/theme.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/public/layerslider/css/layerslider.css" type="text/css">
<link rel="stylesheet" href="/public/css/owl.carousel.min.css">
<link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/public/css/jquery.kyco.easyshare.css">
<link rel="stylesheet" href="/public/css/responsive.css">
<link rel="stylesheet" href="/public/amazingslider/sliderengine/amazingslider-1.css" type="text/css">

<!--<link href="/metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />-->
<!--<link href="/metronic/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />-->